html , body , .container{
    height:100%;
    width:100%;
    padding:0;
    min-width:750px;
}

/*RESPONSIVE*/ 
@media (max-width:1000px) {
    .logo {
        float:left;
        width:34.5%;
        min-width:150px;
        height:150px !important;
    }
    .person-container {
        display:none;
    }   
    #person-dropdown {
        display:block !important;
    }
}

.leftPanel {
    background-color:#3E4752;
}

.rightPanel {
  
}

.logo {
    background: #F1495B; 
    height:150px;
    text-align:center;
    padding-top:4em;
}

.logo-img {
   width:30px;
   height:30px;
   background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/space-ship.png');
   background-repeat:no-repeat;
   padding:0; 
   display:inline-block;
}

.logo-text {
    font-weight:bold;
    color:white;
    font-size:330%;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
    display:inline-block;
}
.jqx-widget-content {
    border:none;
}

#person-dropdown {
    display:none;
    margin:0 auto;
    margin-top:4.5em;
}

.person-container ul {
    list-style:none;
    padding-left:0;
    margin-bottom:0;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;     
}

.person-container ul li{
    padding:0.6em 0;
    padding-left:3.5em;
    cursor:pointer;
}

.person-container ul li span {
    width:60px;
    height:60px;
    background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/person.png');
    background-repeat:no-repeat;
    padding:0; 
    display: inline-block;
    vertical-align:bottom;
    border-radius:50%;
    margin-right:1.5em;
}

.person-container ul li p {
    display: inline-block;
    vertical-align:bottom;
    margin-bottom:18px;
    color:#999EA4;
    font-size:140%;
    font-weight:bold;
}

.person-container ul li:hover {
    background-color:#38414B;
}

.person-container ul li:hover p{
    color:#e6e6e6;
}

.active, .active:hover {
    background-color:#323942 !important;
}

.active p, .active:hover p {
    color:#f2f2f2 !important;
}

.table-img {
    width: 60px;
    padding-right:2em;
    padding-left:1.3em;
}

.table-img-format {
    height:60px;
    width:60px;
    border-radius:50%;
}

.table-text{
    font-size: 160%;
}

.dropdown-header {
    left: 4px; 
    top: 6px; 
    position: relative;
    color:white;
    font-size: 180%;
}
