html , body{
    height:100%;
    width:100%;
    padding:0;
    min-width:750px;
}

/*RESPONSIVE*/ 
@media (max-width:1670px) {
    .person-stats, .buttons-container {
        margin-left: 15em;
        margin-right:15em;
    }
}

@media (max-width:1440px) {
    .person-stats, .buttons-container {
        margin-left: 8em;
        margin-right:8em;
    }
}

@media (max-width:1260px) {
    .person-stats, .buttons-container {
        margin-left: 0em;
        margin-right:0em;
    }
}

@media (max-width:1100px) {
    .logo {
        float:left;
        width:34.5%;
        min-width:150px;
        height:150px !important;
    }
    .person-container {
        display:none;
    }   
    #person-dropdown {
        display:block !important;
    }
}

@media  (max-width:1100px) {
    .person-stats, .buttons-container {
        margin-left: 10em;
        margin-right:10em;
    }

}

@media  (max-width:1000px) {
    .person-stats, .buttons-container {
        margin-left: 5em;
        margin-right:5em;
    }

}

@media  (max-width:910px) {
    .person-stats, .buttons-container {
        margin-left: 0;
        margin-right:0;
    }
}

.leftPanel {
    background-color:#3E4752;
}

.rightPanel {
    background-color:#ECECEC;
}

.logo {
    background: #F1495B; 
    height:150px;
    text-align:center;
    padding-top:4em;
}

.logo-img {
   width:30px;
   height:30px;
   background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/space-ship.png');
   background-repeat:no-repeat;
   padding:0; 
   display:inline-block;
}

.logo-text {
    font-weight:bold;
    color:white;
    font-size:330%;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
    display:inline-block;
}
.jqx-widget-content {
    border:none;
}

#person-dropdown {
    display:none;
    margin:0 auto;
    margin-top:3.8em;
}

ul {
    list-style:none;
    padding-left:0;
    margin-bottom:0;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;     
}

.person-container ul li{
    padding:0.6em 0;
    padding-left:3em;
    cursor:pointer;
}

.person-container ul li span {
    width:60px;
    height:60px;
    background-repeat:no-repeat;
    padding:0; 
    display: inline-block;
    vertical-align:bottom;
    border-radius:50%;
    margin-right:1.5em;
}

.person-container ul li p {
    display: inline-block;
    vertical-align:bottom;
    margin-bottom:18px;
    color:#999EA4;
    font-size:140%;
    font-weight:bold;
}

.person-container ul li:hover {
    background-color:#38414B;
}

.person-container ul li:hover p{
    color:#e6e6e6;
}

.active, .active:hover {
    background-color:#323942 !important;
}

.active p, .active:hover p {
    color:#f2f2f2 !important;
}

.table-img {
    width: 60px;
    padding-right:1.7em;
    padding-left:1.3em;
}

.table-img-format {
    height:60px;
    width:60px;
    border-radius:50%;
    margin-top:0.2em;
}

.table-header {
     height:65px;
}


.table-text{
    font-size: 160%;
}

.dropdown-header {
    padding-left:0;
    top: 12px; 
    position: relative;
    color:white;
    font-size: 200%;
}

#innerListBoxperson-dropdown {
    background-color:#3E4752;
    border:1px solid #3E4752;
}

.jqx-fill-state-hover-metrodark {
    background-color:#38414B;
    border-color:#38414B;
}

.jqx-fill-state-pressed-metrodark,.jqx-fill-state-normal-metrodark  {
    background-color:#323942;
    border-color:#323942;
}

.person-info-container {
   width:100%;
   height:150px;
   background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/space.jpg');
   padding:0; 
   text-align:center;
   border-bottom:3px solid #F1495B;
}

.person-data {
    /*display: inline-block;
    vertical-align: bottom;
    margin-bottom:5em;*/
}

.person-big-img {
    width:170px;
    height:170px;
    background-repeat:no-repeat;
    padding:0; 
    display: inline-block;
    vertical-align: bottom;
    border-radius:50%;
    margin-top:7em;
    margin-bottom:2em;
}

.person-name {
    font-size:280%;
    font-weight:bold;
    color:#808080;
}

.person-title {
    font-size:150%;
    font-weight:bold;
    color:#808080;
}

.buttons-container {
    padding-top:2em;
}

.buttons-container ul {
    text-align:center;
}

.buttons-container ul li {
    background-color:none;
    font-weight:bold;
    font-size:180%;
    padding:0.3em 1.2em;
    color:#808080;
    border-radius:8px;
    margin:0.25em 0.05em;
}

.buttons-container ul li:hover {
    background-color:#f4717e;
    color:white;
}

.person-active, .person-active:hover {
    background-color:#F1495B !important;
    color:white !important;
    border:none !important;
}

#chart {
    height:380px;
    width:80%;
    padding-top:2em;
    overflow: hidden;
    margin:0 auto;
}

.person-stats {
    margin-top:18em;
}

.person-stats ul{
    text-align:center;   
}

.stats-picture {
    width:60px;
    height:60px;
    background-repeat:no-repeat;
    padding:0; 
    display: inline-block;
    vertical-align: bottom;
    margin-right:1em;
    position:relative;
    top:24px;
}

.weight-picture {
    background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/Weight.png');
}

.MS-picture {
    background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/muscle.png');
}

.WBS-picture {
    background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/bone.png');
}

.CB-picture {
    background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/calories.png');
}

.RHR-picture {
    background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/hearth.png');
}

.statsTextFormat, .statsValueFormat {
    font-weight:bold;
    color:#808080;
    font-size:150%;
    display: inline-block;
    vertical-align: bottom;
}

.statsValueFormat {
     display: block;
     text-align:center;
     font-size:210%;
     margin-left:1.85em;
}

rect {
    fill: #ECECEC;
}

.gear {
   width:64px;
   height:64px;
   background-image:url('C:/Users/Asus/Documents/gitHub/ProjectAdept/FrontEnd/assets/gear.png');
   background-repeat:no-repeat;
   padding:0; 
   display:inline-block;
   position:relative;
   top:-80px;
   right:-200px;
   cursor:pointer;
}